body {
    background: rgb(132, 234, 238);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

#input {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.414);
}

#output {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.414);
    position: relative;
    top: 30px;
} 